# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/
